[submodule "dump/ontology"]
	path = dump/ontology
	url = https://github.com/Odeuropa/ontology
[submodule "dump/vocabularies"]
	path = dump/vocabularies
	url = https://github.com/Odeuropa/vocabularies
