.DS_Store
.idea

/graphdb/*.zip
/graphdb-data

__pycache__

static
/populate/input/image-odor-dataset/images/
/populate/input/gallica/fr-frame-elements.tsv
populate/input/image-odor-dataset/odeuropa_29k_nms_005.json